src/ReplicationService/Configuration/Configuration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ReplicationService.Configuration" elementFormDefault="qualified" targetNamespace="urn:ReplicationService.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="replicationService" type="tns:ReplicationService.Configuration.ReplicationServiceConfigurationCT" />
	<xs:complexType name="ReplicationService.Configuration.ReplicationServiceConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="sourceEventStore" type="tns:ReplicationService.Configuration.EventStoreElementCT">
				<xs:annotation>
					<xs:documentation>The SourceEventStore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="targetEventStore" type="tns:ReplicationService.Configuration.EventStoreElementCT">
				<xs:annotation>
					<xs:documentation>The TargetEventStore.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="sliceSize" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SliceSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interval" use="optional" type="xs:time">
			<xs:annotation>
				<xs:documentation>The Interval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReplicationService.Configuration.EventStoreElementCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tcpPort" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The TcpPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
